@model IEnumerable<Alejandria.Models.User>

<h2>Lista de Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo de Identificación</th>
            <th>Número de Identificación</th>
            <th>Dirección</th>
            <th>Género</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.IdentificationType</td>
                <td>@user.IdentificationNumber</td>
                <td>@user.Address</td>
                <td>@user.Gender</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
